asgiref==3.2.10
certifi==2021.5.30
Django==3.1.2
django-filter==21.1
djangorestframework==3.12.4
importlib-metadata==4.8.1
Markdown==3.3.4
olefile==0.46
pip==20.2.4
psycopg2==2.8.6
pytz==2020.1
setuptools==50.3.0
sqlparse==0.4.1
wheel==0.35.1
zipp==3.5.0
django-cors-headers==3.9.0
drf-extra-fields==3.1.1
fastimport==0.9.8
idna==2.8
numpy==1.21.2
Pillow==8.3.2
Pygments==2.3.1
PyYAML==5.3.1
facenet-pytorch==2.5.2