
.Video {
width: "100vh";
height: "100vh";
position: absolute;
left: 40vh;
top: 40vh;
/* left: 0;
right: 0;
bottom: 0;
top: 0; */
}
.Videodiv {
display: flex;
}
.Canvas {
position: absolute;
left: 40vh;
top: 40vh;
}
.Picture {
position: relative;
border: solid;
top: 35vh;
}

.main {
    height: 90vh;
    width: 150vh;
    border-radius: 0px;

    background: #FFFFFF;
}